@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #fce4d8;
    --secondary-color: #f75590 ;
    --off-white:#b1a296;
    --link: #ef233c;
    --white:#f5f5f5;
    --golden: #4d4640;

}
body{
    font-family: 'Open Sans', sans-serif;
    background: radial-gradient(circle at left,#000000d7,#000000f3);
    /* margin: 0; */
    color:var(--off-white);
}
.brand{
    color: white;
    font-weight: bolder;
    padding: 1rem 1rem;
    font-size: x-large;
    text-transform: uppercase;
    -webkit-text-stroke: 0.7px;
}

nav{
    max-width: 100%;
    margin: auto; 
}
nav ul{
    text-align: right;
    padding: 0.5rem;
}
nav ul li {
    list-style: none;
    display: inline;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-right: 0.5rem;   
}
nav a{
text-decoration: none;
color: var(--off-white);;

}

nav a:hover{
    text-decoration: underline;
}

.brand a:hover{
    text-decoration: none;
}

nav .active{
    font-weight: bolder;
    
}
.main{
    display: block;
    margin: auto;
    max-width: 600px;
    max-height: 15rem;
    padding: 2rem;
    border: #4d4640 solid 1px;
    border-radius: 10em;
    background-color: #685c51;
    margin-top: 2em;
    
}
.social{
    display: inline;
    max-width:300px;
    max-height:100px;
}
header h2{
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    max-width: 1000px;
    padding: 1rem 0.5rem;
    letter-spacing: 0.04rem;
    color:var(--off-white);
    margin-top: 0.7em;
    font-size: 2em;
    color: white;
}
header h4{
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 0.5rem;
    font-weight: bolder;
    line-height: 1.8em;
    font-size: large;
}
.alt{
    text-align: center;
    margin: auto;
    max-width: 1000px;
    padding: 2rem 0.5rem;
    margin-top: 9.5em;   
    border: solid 2px var(--off-white);
    border-radius: 0.2em;
    background-color: #b1a29634 ;
    color: white;
}
#tech{
    margin-top: 12em;
}
.alt ul li{
    list-style: none;
    display: inline;
    text-align: center;
}
.alt ul img{
    width: 50px;
    padding: 1rem;
    margin-right: 2em;
}
section{
    text-align: center;
    margin: auto;
    max-width: 1000px;
    padding: 2rem 0.5rem;
    margin-top: 9.5em;   
    border: solid 2px var(--off-white);
    border-radius: 0.2em;
    background-color: #b1a29634 ;
    color: white;

}
section h2{
    font-weight: bolder;
}
section a{
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
section p{
    padding: 0.5em;
}
#redirect{
    color: var(--off-white);
    font-weight: bolder;
    
}
#redirect:hover{
    text-decoration: underline;
}
#e1, #e2{
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
}#e1:hover, #e2:hover{
    text-decoration: underline;
}
section{
    line-height: 1.55em;
}
footer{
    color: white;
    margin: auto;
    max-width: 1000px;
    padding: 0.5rem 0.5rem;
    margin-top: 9.5em;
    text-align: center;
}
footer ul li{
list-style: none;
padding: 0.5rem;
display: inline;
text-align: center;
}
#uw{
    margin-left: -40px;;

}
footer a{
    text-decoration: none;
    color:var(--off-white);
}
footer img{
        width: 25px;
        padding: 0.5em;
}
section h3{
    text-transform: uppercase;
}
#project{
    margin-top: 5em;
}
#pro-link{
    color: var(--off-white);
}
#pro-link:hover{
    text-decoration: underline;}
}
.blog{
      letter-spacing: 0;
      text-transform: lowercase;
  }
  .blog-back{
      background-color: white;
 
    }
.blog-sec h1{
        font-size: 2em;
    }
.blog-img{
    /* height:300px;
    max-width: 600px;
    margin:auto; */
    display: block;
    margin: auto;
    max-width: 600px;
    max-height: 10rem;
    padding: 2rem;
}
.blog-image{
    max-width: 280px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
div small{
    color: var(--off-white);
}
.blog-image-1{
    max-width: 280px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.blog-portfolio{
    max-width: 600px;
    max-height: 10rem;
    padding: 0rem;
}
.foot-blog{
    text-align: right;
    padding:1.5rem;
    font-size: larger;
}
.foot-blog-prev{
    text-align: left;
    padding:1.5rem;
    font-size: larger;
}

